<!--This is technically XML, not HTML; XML is more flexible than HTML
this is why we included the xmlns attribute (which stands for xml namespace)-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
<form action='hello' method='post'>
    <input type='text' name='name'>
    <select name='language' id='language'>
        <option value='french'>French</option>
        <option value='german'>German</option>
        <option value='spanish'>Spanish</option>
        <option value='italian'>Italian</option>
        <option value='english'>English</option>
        </select>
    <input type='submit' value='Greet me!'>
    </form>
</body>
</html>